<!doctype html>
<html lang="en">
      
<head>
  <meta charset="utf-8">
  <title>MVC Index Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>MVC Index Page</h1>
    <h2>Menu for <%=dayInput%></h2>
  </header>

  <main>
    <p>menu for a selected day</p>
    <h2>Breakfast</h2>
    <p><%=dayMenu.Breakfast%></p>
    <h2>Lunch</h2>
    <p><%=dayMenu.Lunch%></p>
    <h2>Dinner</h2>
    <p><%=dayMenu.Dinner%></p>
  </main>

  <footer>
    <address>&copy; 2023 Firstname Lastname</address>
  </footer>
</body>

</html>