<!doctype html>
<html lang="en">
      
<head>
  <meta charset="utf-8">
  <title>Calculator Index Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1>Calculator </h1>
  </header>

  <main>
    
    <div>
      <p>Your operation: <%=num1%> <%=operator%> <%=num2%></p>
      <p>Result: <%=num3%></p>
    </div>
  </main>

  <footer>
    <address>&copy; 2024 Carlos Rebelo</address>
  </footer>
</body>

</html>